.examples-list, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.menu-container {
  width: 100%;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
    z-index: 99;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 88px;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    margin-left: 93px;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header-site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-site-nav .link {
  position: relative;
  overflow: hidden;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}

@media screen and (max-width: 768px) {
  .header-site-nav .link {
    font-size: 18px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .header-site-nav .link {
    display: block;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 768px) {
  .header-site-nav .item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header-site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-site-nav .link::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-radius: 2px;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .header-site-nav .link::after {
    bottom: -9px;
  }
}

.header-site-nav .link.current::after {
  opacity: 1;
}

.header-site-nav .link.current {
  color: #2196f3;
}

.header-site-nav .link:hover,
.header-site-nav .link:focus,
.header-contacts-item .contact-link:hover,
.header-contacts-item .contact-link:focus,
.contact-icon:hover,
.contact-icon:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .header-contacts {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header-contacts .contact-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .header-contacts .contact-link {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts .contact-link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts .contact-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .header-contacts-item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2196f3;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.header-logo {
  color: #212121;
}

.logo-footer {
  color: #ffffff;
}

.logo.footer {
  margin-bottom: 20px;
}

.mobile-menu-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}

.mobile-menu-button .icon-cross {
  display: none;
}

.mobile-menu-button.is-open .icon-cross {
  display: block;
}

.mobile-menu-button.is-open .icon-lines {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}

.mobile-menu-button::hover, .mobile-menu-button::focus, .mobile-menu-button:active {
  color: #2196f3;
}

.btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  background-color: #2196f3;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
}

.subscribe .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-icon {
  margin-left: 10px;
}

.btn:focus,
.btn:active,
.modal-close-btn:active,
.modal-close-btn:focus {
  outline: none;
}

.modal-button-cover {
  height: 30px;
  text-align: end;
  margin-bottom: 2px;
}

.modal-close-btn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  background-color: #ffffff;
  margin-top: 8px;
  margin-right: 8px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, .modal-close-btn:focus {
  border-color: #2196f3;
}

.modal-close-btn:hover .close-btn-icon {
  fill: #2196f3;
}

.close-btn-icon {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 768px) {
  .filter-button {
    margin-bottom: 15px;
  }
}

.filter-button.link:hover,
.filter-button.link:focus .filter-button.link:active {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  outline: none;
}

.hero {
  margin-bottom: 60px;
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .hero {
    max-width: 480px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile-hero-img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-hero-img.jpg);
  }
}

@media screen and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 768px) and (min-resolution: 192dpi), screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile-hero-img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-hero-img@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet-hero-img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-hero-img.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet-hero-img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-hero-img@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop-hero-img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-hero-img.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop-hero-img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-hero-img@2x.jpg);
  }
}

.hero .hero-title {
  padding-top: 118px;
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero .hero-title {
    padding-top: 200px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.svg-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .advantages-title {
    text-align: center;
  }
}

.advantages-description {
  margin-top: 0;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .advantages-list .item {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list .item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list .item {
    width: calc((100% - 90px) / 4);
  }
}

@media screen and (min-width: 768px) {
  .advantages-list .item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list .item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .advantages-list .item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .advantages-list .item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1200px) {
  .direction.section {
    display: none;
  }
}

.direction-title {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.direction-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.direction-list .item {
  position: relative;
  width: calc((100% - 60px) / 3);
  height: 294px;
}

.direction-list .item.item:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .team-list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-list-item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 768px) {
  .team-list-item {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list-item {
    width: calc((100% - 30px) / 2);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team-list-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team-list-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .team-list-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item:last-child {
    margin-right: 0;
  }
}

.team-photo {
  width: 100%;
  margin-bottom: 30px;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-description {
  margin-top: 0;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-item-link {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-link:hover, .social-item-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-logo {
  margin: auto;
  fill: currentColor;
}

.client-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #afb1b8;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .client-icon {
    width: calc((100% - 30px) / 2);
    max-width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .client-icon {
    width: calc((100% - 30px) / 3);
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client-icon {
    width: calc((100% - 150px) / 6);
    margin-bottom: 0;
  }
}

.client-icon:hover, .client-icon:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .clients-list-item {
    width: calc((100% - 30px) / 2);
  }
  .clients-list-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .clients-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list-item {
    width: calc((100% - 30px * 2) / 3);
  }
  .clients-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients-list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list-item {
    width: calc((100% - 30px * 5) / 6);
  }
  .clients-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.client-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  width: 100%;
  border-radius: 5px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  -webkit-transition-property: border, color;
  transition-property: border, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.client-icon:hover {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.clients-logo {
  margin: auto;
}

footer {
  text-align: center;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-contact-wrap {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-contact-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contact-wrap {
    margin-bottom: 0;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer-adress-wrap {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-adress-wrap {
    text-align: left;
    margin-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-wrap {
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.adress-location {
  margin-top: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .footer-contacts-list {
    margin-bottom: 60px;
  }
}

.footer-contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-social-title,
.footer-subscribe-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-social-title,
  .footer-subscribe-title {
    text-align: left;
  }
}

.footer-subscribe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer-subscribe-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: raw;
            flex-direction: raw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-input-form {
  max-width: 450px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--footer-background-color);
  color: #ffffff;
  border-radius: 4px;
  margin-bottom: 20px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  -webkit-transition: border-color 250ms;
  transition: border-color 250ms;
}

@media screen and (min-width: 1200px) {
  .footer-input-form {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer-input-form:focus {
  border: 1px solid #ffffff;
  outline: none;
}

.social-media-list .social-item-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-item-link .footer-social-icon {
  --color1: white;
}

.social-media-list .social-item-link:hover {
  background-color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 1200px) {
  .modal {
    max-width: 450px;
    width: 100%;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

.submit-form {
  margin-left: 40px;
  margin-right: 40px;
}

.modal-heading {
  width: 100%;
  margin-top: 0;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.condition-description {
  margin-top: 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.input-form {
  padding-left: 40px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.input-form:focus ~ .input-form-logo {
  fill: #2196f3;
}

.input-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.comment {
  margin-bottom: 20px;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.comment:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.comment::-webkit-input-placeholder {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  /* padding: 12px 16px; */
}

.comment:-ms-input-placeholder {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  /* padding: 12px 16px; */
}

.comment::-ms-input-placeholder {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  /* padding: 12px 16px; */
}

.comment::placeholder {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  /* padding: 12px 16px; */
}

.input-group {
  position: relative;
}

.input-form-logo {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  height: 18px;
  width: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conditions {
  position: relative;
  margin-bottom: 30px;
}

.conditions-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conditions-form .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.conditions-form .checkbox-label {
  margin-left: 7px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.conditions-form .checkbox-icon {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../images/checkbox.svg);
  background-size: contain;
  background-origin: border-box;
}

.button-cover {
  display: block;
  text-align: center;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .filter-list {
    margin-bottom: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

.filter-list .item:not(:last-child) {
  margin-right: 8px;
}

.filter .link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .examples-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .examples-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.examples-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
  outline: 1px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .examples-list-item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .examples-list-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .examples-list-item {
    width: calc((100% - 60px) / 3);
  }
}

.examples-list-item:hover, .examples-list-item:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.examples-list-item:hover .examples-description {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .examples-list-item:nth-child(2n) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .examples-list-item:nth-child(3n) {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .examples-list-item:nth-last-child(-n + 1) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .examples-list-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.examples-img {
  width: 100%;
}

.examples-title {
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.06em;
  color: #212121;
}

.examples-list-item .description {
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.examples-container {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.examples-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: roboto, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section {
  padding-bottom: 60px;
}
/*# sourceMappingURL=main.css.map */